/* STYLE DE LA CARTE , DU CANVAS, DE LA SIDE-BARRE, DU FOOTER ET DES BOUTONS QU'ILS CONTIENNENT */

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
}

/* style (row par défaut) de la section contenant une google map et un panneau d'informations scrollables */
#stations_map {
    width: 80%;
    height: calc(100vh - 20em);
    display: flex;
    border-radius: 15px;
    margin: 0.5em auto;
    border-radius: 15px;
    background-color: aqua;
}

/* style du pied de page contenant des messages et un compte à rebours */
footer {
    width: 80%;
    height: 15%;
    display: flex;
    border-radius: 15px;
    margin: 0.5em auto;
    border: 5px solid aqua;
    background-color: fuchsia;
}

/* style du filtre du pied de page au dessus des messages et du compte à rebours */
#filter {
    display:flex;
    flex: 1 1 100%;
    border-radius: 15px;
    background-color:fuchsia;
    opacity: 0.6;
    z-index: 500;
}

/* style du conteneur du message et du compte à rebours du pied de page */
#msg {
    display:flex;
    flex-direction: column;
    margin: auto;
}

/* style du message du pied de page */
#session_storage {
    display: block;
    flex: 1 1 100%;
    margin: 5px;
    border-radius: 15px;
    color: aqua;
    text-shadow: -1px -1px 1px darkblue;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    z-index: 200;
}

/* style du compte à rebours du pied de page */
#countdown {
    display: block;
    flex: 1 1 100%;
    margin: 5px;
    border-radius: 15px;
    color: aqua;
    text-shadow: -1px -1px 1px darkblue;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 1em;
    font-weight: bold;
    z-index: 200;
}

/* style du conteneur de la google map */
#map {
    display: block;
    flex: 0 0 65%;
    margin: 5px;
    border-radius: 15px;
    background-color: darkorchid;
    align-items: center;
}

/* style du conteneur contenant l'espace canvas pour la signature */
#signature {
    display: none;
    flex-direction: column;
    flex: 0 0 65%;
    margin: 5px;
    border-radius: 15px;
    background-color: darkorange;
    align-items: center;
    justify-content: center;
}

/* style du titre du conteneur contenant l'espace canvas pour la signature  pour les bigs screens*/
#signature h3{
    display: block;
    text-align: center;
    color: aqua;
    text-shadow: -2px -2px 2px green;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* style du titre du conteneur contenant l'espace canvas pour la signature  pour les smalls screens*/
#signature h5 {
    display: none;
    text-align: center;
    color: aqua;
    text-shadow: -2px -2px 2px green;
}

/* Empêche la mise en surbrillance du texte à proximité lors du déplacement accidentel de la souris hors des limites de la toile-canvas */
#enveloppe-toile {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* style circulaire pour le canvas */
#canvas {
    margin: 1%;
    background-color: white;    
    border-radius: 50%;
    border:0.5em gold solid;
    box-shadow: -6px -6px 6px aqua;
}

/* style de la side barre scrollable contenant les informations de chaque station vélib’ */
#infos_station {
    display: flex;
    flex-direction: column;
    flex: 1 1 35%;
    margin: 5px;
    padding: 0; 
    border-radius: 15px;
    background-color:darkorange;
    align-items: center;
    overflow:scroll;
}

/* style du titre de la side barre scrollable contenant les informations de chaque station vélib’ */
#infos_station h2 {
    text-align: center;
    color: aqua;
    text-shadow: -2px -2px 2px green;
}

/* style du logo de la station vélib’ dans le panneau d'information */
#infos_station img{
    border: 3px solid aqua;
    border-radius: 50%;
    box-shadow: -4px -4px 2px gold;
}

/* style du logo de la station vélib’ dans le footer */
#logo_footer {
    display: flex;
    align-items: center;
    flex: 1 1 100%;
}
/* style de l'image du logo de la station vélib’ dans le footer */
#logo_footer img{
    margin:auto;
    border: 3px solid aqua;
    border-radius: 50%;
    box-shadow: -4px -4px 2px gold;
    z-index: 600;
}

/* style de la liste non-ordonnée contenant les informations dans la side-barre scrollable */
#infos_station ul{
    list-style-type: none;
    padding:5px;
}

/* style du titre principal de la side-barre scrollable  contenant les informations de chaque station vélib’ */
#infos_station li h3 {
    color: aqua;
    text-shadow: -2px -2px 2px green;
}

/* style du conteneur des boutons "Réservez ici" et "Annulez ici" */
#btn {
    display:flex;
    flex-direction: column;
}

/* style du conteneur du bouton "Réservez ici" */
#btn-reserve {
    align-self: center;
    display:none;
    margin-bottom: 55px;
}

/* style du conteneur du conteneur du message d'erreur si on clique sur le bouton "Réservez ici" avant d'avoir cliqué sur la station vélib’ de son choix */
#state {
    display: block;
    margin-bottom: 55px;
    margin: auto;
}

/* style du conteneur du message d'erreur si on clique sur le bouton "Réservez ici" avant d'avoir cliqué sur la station vélib’ de son choix */
#state-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* style de la balise emphase pour les mots : "station" et "verte" dans le message énoncé dans le bas du panneau d'informations */
.green_color{
    text-align:justify;
    font-size: 20px;
    color: #85ab10;
    text-shadow: -1px -1px 1px gold;
    font-weight: bold;
}

/* style du message d'erreur si on clique sur le bouton "Réservez ici" avant d'avoir cliqué sur la station vélib’ de son choix */
.msg_error {
    text-align:justify;
    margin-left: 35px;
    margin-right: 35px;
    font-size: 20px;
    color: #ff0000;
    text-shadow: -1px -1px 1px gold;
    font-weight: bold;
}



/* BOUTONS DU PANNEAU D'INFORMATION SUR LES STATIONS VÉLIB’*/

/* style du bouton "Réservez ici" au bas du panneau scrollable d'informations sur chaque station vélib’ */
#btn_reservation{
    display: block;
    background-color: darkorange;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color:aqua;
    text-shadow: -1px -1px 1px green;
    border-radius: 15px;
    border: 3px solid aqua;
    cursor:pointer;
}

/* effet hover et active sur le bouton "Réservez ici" au bas du panneau scrollable d'informations sur chaque station vélib’ */
#btn_reservation:hover,
#btn_reservation:active {
    background-color: aqua;
    color:darkorange;
    text-shadow: -1px -1px 1px gold;
    border: 3px solid darkorange;
    box-shadow: -4px -4px 2px gold;
}

/* style du conteneur du bouton "Confirmez votre réservation" dans le panneau contenant le canvas pour la signature */
#on {
    align-self:center;
}

/* style du conteneur du bouton "Annulez ici" dans le panneau scrollable d'informations sur chaque station vélib’*/
#off {
    align-self:center;
    padding-bottom: 15%;
}

/* style du bouton "Confirmez votre réservation" dans le panneau contenant le canvas pour la signature */
#btn_validation {
    display: none;
    background-color: darkorange;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color:aqua;
    text-shadow: -1px -1px 1px green;
    border-radius: 15px;
    border: 3px solid aqua;
    cursor:pointer;
}

/* effet hover et active sur le bouton "Confirmez votre réservation" dans le panneau contenant le canvas pour la signature */
#btn_validation:hover,
#btn_validation:active {
    background-color: aqua;
    color:darkorange;
    text-shadow: -1px -1px 1px gold;
    border: 3px solid darkorange;
    box-shadow: -4px -4px 2px gold;
}

/* style du bouton "Annulez ici" dans le panneau scrollable d'informations sur chaque station vélib’*/
#annulation {
    display: block;
    background-color: darkorange;
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    color:red;
    text-shadow: -1px -1px 1px gold;
    border-radius: 15px;
    border: 3px solid red;
    cursor:pointer;
}

/* effet hover et active sur le bouton "Annulez ici" dans le panneau scrollable d'informations sur chaque station vélib’ */
#annulation:hover,
#annulation:active {
    background-color: red;
    color:darkorange;
    text-shadow: -1px -1px 1px green;
    border: 3px solid darkorange;
    box-shadow: -4px -4px 2px gold;
}

/* PANNEAU D'INFORMATIONS */

/* style des paragraphes contenant les informations sur chaque station vélib’ */
#infos_station li p{
    text-align: center;
    font-weight: bold;
    text-shadow: -1px -1px 1px gold;
}





/*************************************************/
/*                                               */
/* media-query pour les ecrans inferieur à 640px */
/*                                               */
/*************************************************/



@media screen and (max-width: 640px) {
    
    
    /* style column de la section contenant une google map et un panneau d'informations scrollables pour les smalls screens */
    #stations_map {
        flex-direction:column;
        height: calc(100vh - 12.2em);
    }
    
    /* style de la side barre scrollable contenant les informations de chaque station vélib’ pour les smalls screens */
    #infos_station {
       flex: 1 1 45%; 
    }
    
    /* style du titre de la side barre scrollable contenant les informations de chaque station vélib’  pour les smalls screens */
    #infos_station h2 {
        margin-top: 5%;  
    }
    
    /* style du conteneur contenant l'espace canvas pour la signature pour les smalls screens */
    #signature {
       flex: 1 1 55%; 
    }
    
    /* disparition du style du titre du conteneur contenant l'espace canvas pour la signature  pour les bigs screens */
    #signature h3 {
        display: none;
    }
    
    /* apparition du style du titre du conteneur contenant l'espace canvas pour la signature  pour les smalls screens */
    #signature h5 {
        display: block;
        margin-top: 1%;
        margin-bottom: 1.5%;
    }
    
    /* positionnement du canvas pour les small screens  */
    #canvas {
        marrgin-top:0.5%;
        margin-bottom: 0.5%;
    }
    
    /* taille du bouton "Réservez ici" au bas du panneau d'informations des stations vélib’ */
    #btn_reservation {
       font-size: 33px; 
    }
    
    /* style du bouton "Confirmez votre réservation" dans le panneau contenant le canvas pour la signature  pour les smalls screens */
    #btn_validation {
        margin: auto;
        font-size: 12px;
        margin-top: 0.5%;
        margin-bottom: 3.5%;
    }
    
    /* style du bouton "Annulez ici" dans le panneau scrollable d'informations sur chaque station vélib’ pour les smalls screens */
    #annulation {
        margin: auto;
        font-size: 33px;
        margin-bottom: 6%;
    }
    
    /* style de la balise emphase pour les mots : "station" et "verte" dans le message énoncé dans le bas du panneau d'informations pour les smalls screens */
    .green_color {
        font-size: 18px;
    }
    
    /* style du message d'erreur si on clique sur le bouton "Réservez ici" avant d'avoir cliqué sur la station vélib’ de son choix pour les smalls screens  */
    .msg_error {
        font-size: 18px;
    }
    
    /* style du pied de page contenant des messages et un compte à rebours pour les smalls screens */
    footer {
        display: flex;
        height: 13.5%;
        flex-direction: column;
        overflow: scroll;
    }
    
    /* style du filtre du pied de page au dessus des messages et du compte à rebours pour les smalls screens */
    #filter {
        display: flex;
        flex-direction: column; 
    }
    
    /* style du message du pied de page pour les smalls screen qui peut "grandir" "rétrécir" en prenant 100% de la largeur du conteneur */
    #session_storage {
        flex: 1 1 100%;
    }
    
    /* style du logo de la station vélib’ dans le footer pour les smalls screens */
    #logo_footer {
         display: flex;
    }
    
    /* style de l'image du logo de la station vélib’ dans le footer pour les smalls screens */
    #logo_footer img{
        display: flex;
    }
}
