/* STYLE DU MENU FIXED */

html, body {
    height: :100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("https://mmtmc.alwaysdata.net/fond1.png"); /* arrière plan */
    background-repeat:no-repeat;
    background-size: 220% auto;
    
}

/* menu collant pour big screen */
#menu1 {
    display: block;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    margin:0 auto;
    margin-top: 1em;
    padding: 0;
    border: 3px solid aqua;
    border-radius: 45px;
    background-color: rgba(163, 235, 12, 0.6);
    z-index: 10000;
}

/* menu fixed pour small screen */
#menu2 {
    display: none;
    position:fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: auto;
    margin:0 auto;
    margin-top: 1em;
    padding: 0;
    border-radius: 45px;
    background-color: rgba(163, 235, 12, 0.6);
    z-index: 10000;
}

/* titre du menu fixed pour big screen */
#menu1 h1 {
    text-align: center;
    font-size: 2em;
    color:aqua;
    text-shadow:-4px -4px 2px fuchsia;
    text-decoration: underline;
}

/* style de la liste non-ordonnée des boutons du menu fixed */
#menu-app {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

/* puces de la liste non-ordonnée des boutons du menu fixed */
#menu-app li {
    align-self: center;
    text-align: center;
}

/* images des boutons du menu fixed */
.logo_btn img{
    width: 45%;
    margin: 5% 5%;
    padding: 5px;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: -4px -4px 2px gold;
    z-index: 10000;
}

/* effets active et hover avec la souris sur les images des boutons du menu fixed */
.logo_btn img:active,
.logo_btn img:hover {
    width: 45%;
    background-color: aqua;
    margin: 5% 5%;
    padding: 5px;
    border: 3px solid aqua;
    border-radius: 15px;
    box-shadow: -4px -4px 2px fuchsia;
    z-index: 10000;
    
}







/*************************************************/
/*                                               */
/* media-query pour les ecrans inferieur à 640px */
/*                                               */
/*************************************************/

@media screen and (max-width: 640px) {
    
    /* taille de l'image de fond d'arrière plan */
    body {
       background-size: 210% auto; 
    }
    
    /* menu pour grands écrans */
    #menu1 {
        display: none;
        border: 0;
    }
    
    /* menu pour petits écrans */
    #menu2 {
        display: block;
    }
    
    /* style du titre du menu fixed pour small screen  */
    #menu2 h2 {
        text-align: center;
        font-size: 0.8em;
        color:darkorange;
        text-shadow: -2px -2px 1px darkblue;
    }
    
    /* styles des boutons "Présentation" et "Réservation" du menu fixed pour small screen */
    #explication ,
    #application{
        text-align:center;
        font-size: 0.8em;
        color: darkblue;
        text-shadow: -1px -1px 0.5px fuchsia;
        font-weight: bold;
        background-color: gold;
        border-radius: 15px;
        width: 95%;
        cursor: pointer;
    }
    
    /* effets active et hover des boutons "Présentation" et "Réservation" du menu fixed pour small screen */
    #explication:active ,
    #explication:hover,
    #application:active,
    #application:hover {
        text-align:center;
        font-size: 0.8em;
        color: rgba(11, 28, 135, 0.6);
        text-shadow: -1px -1px 0.5px rgba(255,215, 0, 0.6);
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 15px;
        width: 95%;
        cursor: pointer;
    } 
}